@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/scrollbar-mixin.scss";
@import "../css/libs/all.css";

// mes variables
$shadow: 0.0em 0.0em 0.5em rgba(0, 0, 0, 0.3);
$primary: #9356dc;
$secondary: #ef74da;
$tertiary: #353535;
$quaternary:#eaeaea;
$quinary: #f6f6f6;
$border-radius-totaly: 50px;
$border-radius-medium: 10px;
$lightpurple: #ef74da;
$purple: #9d59dc;
$font-family: 'Raleway', sans-serif;

body {
    font-family: $font-family;
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
}


h1, h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.0rem;
}

h3 {
    font-weight: bold;
}

header {
    width: 100%;
    img {
        width: 12rem;
        heigth: auto;
        padding: 1.0rem;
        display: block;
        margin-left:auto;
        margin-right:auto;
    }
    box-shadow: $shadow;
    margin-bottom: 0.0rem;
    z-index: 1;
}
nav {
    width: 100%;
    background: $quinary;
    padding-bottom: 3.5rem;
    text-align: center;
    form {
        display: block;
        color: $tertiary;
        background: $quaternary;
        margin-bottom: 1.0rem;
        padding: 1.0rem;
        display: flex;
        justify-content: center;

        input{
            border: 0;
            background: $quaternary;
            color: $tertiary;
            font-family: $font-family;
            width: auto;
            padding: 0.0rem 0.8rem;
        }
    }
}

.btn {
    display: block;
    text-align: center;
    margin-top: 2.0rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2rem;
    border-radius: $border-radius-totaly;
    color: white;
    font-weight: bold;
    background: linear-gradient(to bottom right, $secondary, $primary);
}

.btn-nav {
    width: 20.0rem;
    box-shadow: $shadow;
}

aside {
    width: 100%;
    padding: 1.5rem 0;
    h2 {
        text-align: left;
        padding: 1.0rem 2.0rem;
    }
    ol {
        color: black;
        list-style: none; 
        counter-reset: li;
        padding: 0.0rem;
    }
    li::before {
        // repris sur le web, j'ai pas tout compris...
        content: counter(li); color: white;
        display: inline-block; width: 1em;
        margin-left: -1.2rem;
        margin-right: 1.2rem;
        padding: 0.3rem;
        background: $primary;
        border-radius: $border-radius-totaly;
        text-align: center;
    }
    li {
        counter-increment: li;
        background: $quinary;
        border-radius: $border-radius-medium;
        box-shadow: $shadow;
        padding: 1.5rem 0.5rem;
        margin: 2.0rem 2.0rem;
    }
    .fas::before {
        padding-right: 1.2rem;
    }
}

section {
    width: 100%;
    background: $quinary;
    padding: 2.0rem 0;
    .div {
        display: block;
        box-shadow: $shadow;
        margin: 1.0rem;
        border-radius: $border-radius-medium;
        padding-bottom: 1.0rem;
        h3,p {
            padding-left: 1.0rem;
            padding-top: 0.5rem;
        }

    }
    img {
        object-fit: cover;
        width: 100%;
        height: 11.0rem;
        border-radius: 10px 10px 0 0;
        padding-bottom: 0.5rem;
    }
    .new::after {
        content: "Nouveau"; /* Insert content that looks like bullets */
        display: inline; 
        color: green; /* Or a color you prefer */
        background: lightgreen;
        position: relative;
        float: right;
        top: -14.9rem;
        bottom: 100%; left: 0;
        padding: 0.5rem 1.0rem;
        margin: 1.0rem;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;
      }
}



footer {
    .logo {
        width: 50%;
    }
}