// mes variables
$shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.3);
$shadow--darken: 0em 0em 0.5em rgba(0, 0, 0, 0.5);
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$quaternary: #eaeaea;
$quinary: #f6f6f6;
$senary: #353535;
$border-radius-totaly: 50px;
$border-radius-medium: 20px;
$font-family: "Roboto", sans-serif;

//responsives
$lg: 1024px;
