body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
aside {
    order: 2;
    border-radius: 10px;
    background: grey;
    flex-basis: 30%;
}
section {
    order: 1;
    flex-basis: 70%;
}

footer { 
    order: 3;
}
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 2.0rem;
}
section h2 {
    width: 100%;
    padding: 2.0rem;
}
section div.restaurant {
    padding-bottom: 0rem;
    box-sizing: border-box;
    width: 49%;
    margin: 1.0rem 0;
}
section div.restaurant a {
    margin-bottom: -0.5rem;
}