/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../css/libs/all.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: black; }

@keyframes startup-bar {
  0% {
    transform: scaleX(0); }
  17% {
    transform: scaleX(0.18); }
  24% {
    transform: scaleX(0.4);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1); }
  46% {
    transform: scaleX(0.81);
    animation-timing-function: cubic-bezier(0.25, 0.25, 1); }
  100% {
    transform: scaleX(1); } }
@keyframes startup-body {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-9999px); } }
@keyframes startup-body--disable {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes menu-translate-1 {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes menu-translate-2 {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes menu-translate-3 {
  0% {
    opacity: 0;
    transform: translateY(0px); }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes select-translate {
  0% {
    transform: translateX(100px);
    display: none; }
  100% {
    transform: translateX(0);
    display: block; } }
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: row wrap;
  background: #f6f6f6; }

h1,
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem; }

h3 {
  font-weight: bold; }

h4 {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 0.5rem; }

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  z-index: -1;
  padding-top: 15rem; }
  .loading ~ * {
    opacity: 0;
    animation: startup-body--disable 2000ms 1500ms forwards; }
  .loading .progress {
    border: solid 2px #353535;
    padding: 0.1rem;
    width: 70%;
    height: 0.4rem;
    margin: auto; }
    .loading .progress__bar {
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom right, #ff79da, #9356dc);
      animation: startup-bar 900ms;
      transform-origin: left; }
  .loading .logo.header {
    width: 80%;
    max-width: 300px; }

header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.3);
  margin-bottom: 0rem;
  z-index: 1;
  align-items: center;
  padding: 0 2rem; }
  @media (min-width: 1024px) {
    header .logo.header {
      width: 20rem;
      margin: auto; } }
  header img {
    width: 12rem;
    height: auto;
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  header .fa-arrow-left {
    font-size: 1.2rem; }

nav {
  width: 100%;
  background: #f6f6f6;
  padding-bottom: 3.5rem;
  text-align: center; }
  nav form {
    display: block;
    color: #353535;
    background: #eaeaea;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    padding-left: 7rem; }
    nav form input {
      border: 0;
      background: #eaeaea;
      color: #353535;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 1rem;
      width: auto;
      padding: 0rem 0.8rem; }
  nav h1,
  nav p {
    margin: 0 2rem; }
  nav div {
    width: 100%;
    background: #f6f6f6;
    text-align: left;
    padding-top: 1rem; }
  nav.menu {
    display: flex;
    padding-bottom: 0;
    align-items: flex-end;
    height: 265px; }
    nav.menu--a-la-francaise {
      background: no-repeat url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
      background-size: cover; }
      nav.menu--a-la-francaise div {
        border-radius: 40px 40px 0 0; }
    nav.menu h2 {
      color: black;
      font-family: Shrikhand;
      font-weight: normal;
      margin-bottom: -0.3rem; }

aside {
  width: 100%;
  background: white;
  padding: 1.5rem 0; }
  aside h2 {
    text-align: left;
    padding: 1rem 2rem; }
  aside ol {
    color: black;
    list-style: none;
    counter-reset: li;
    padding: 0rem; }
  aside li::before {
    content: counter(li);
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -1.2rem;
    margin-right: 1.2rem;
    padding: 0.3rem;
    background: #9356dc;
    border-radius: 50px;
    text-align: center; }
  aside li {
    counter-increment: li;
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.3);
    padding: 1.5rem 0.5rem;
    margin: 2rem 2rem; }
  aside .fas::before {
    padding-right: 1.2rem; }

section {
  width: 100%; }
  section .accueil {
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.3);
    margin: 1rem 1rem;
    border-radius: 20px;
    padding-bottom: 1rem; }
    section .accueil h3,
    section .accueil p {
      padding-left: 1rem;
      padding-top: 0.5rem; }
    section .accueil .new::before {
      content: "Nouveau";
      /* Insert content that looks like bullets */
      display: inline;
      color: #008766;
      /* Or a color you prefer */
      background: #99e2d0;
      position: relative;
      margin-top: -1.8rem;
      float: right;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-size: 0.8rem;
      font-weight: bold;
      top: 2.5rem;
      right: 1rem; }
  section img {
    object-fit: cover;
    width: 100%;
    height: 11rem;
    border-radius: 10px 10px 0 0;
    padding-bottom: 0.5rem; }
  section.menu {
    display: flex;
    flex-flow: row wrap; }
    section.menu h3:not(:first-child) {
      padding-top: 1.8rem; }
    section.menu h3 {
      margin: 0 1rem;
      text-transform: uppercase;
      flex-basis: 100%;
      border: 10px solid;
      border-top: none;
      border-left: none;
      border-right: none;
      border-image-slice: 1;
      border-width: 3px;
      border-image-source: linear-gradient(to right, #99e2d0 11%, rgba(255, 255, 255, 0) 11% 90%);
      padding-bottom: 0.2rem;
      font-weight: normal; }
    section.menu .content {
      min-width: 90%;
      width: 100%;
      background: white;
      border-radius: 20px;
      box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.3);
      margin: 0.6rem 1rem;
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden; }
      section.menu .content__1 {
        opacity: 0;
        animation: menu-translate-1 900ms 300ms both; }
      section.menu .content__2 {
        opacity: 0;
        animation: menu-translate-2 900ms 300ms both; }
      section.menu .content__3 {
        opacity: 0;
        animation: menu-translate-3 900ms 300ms both; }
      section.menu .content div:nth-child(1) {
        white-space: nowrap;
        overflow: hidden;
        padding: 1rem;
        box-sizing: border-box;
        font-size: 0.9rem;
        flex: 1; }
        section.menu .content div:nth-child(1) p,
        section.menu .content div:nth-child(1) h4 {
          overflow: hidden;
          word-break: break-all;
          text-overflow: ellipsis; }
      section.menu .content:hover a, section.menu .content :active .select a {
        width: 80px;
        transition-duration: 500ms;
        transition-property: width, background-color; }
      section.menu .content:hover i, section.menu .content :active .select i {
        transform: rotate(3turn);
        transition: 2s; }
    section.menu div.select {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: bold; }
      section.menu div.select p {
        padding: 0 2rem 1rem 0; }
      section.menu div.select a {
        text-align: center;
        background: #99e2d0;
        align-self: center;
        height: 100%;
        padding-top: 3rem;
        font-size: 1.6rem;
        color: white;
        width: 0;
        transition-duration: 500ms;
        transition-property: width; }
        section.menu div.select a:hover, section.menu div.select a :active {
          background-color: #4acbab; }

footer {
  background: #353535;
  color: white;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem; }
  footer a {
    color: white; }
  footer .logo {
    width: 7rem;
    filter: invert(100%);
    padding-bottom: 0.9rem; }
  footer li {
    padding: 0.4rem 0; }
  footer li:nth-child(3),
  footer :nth-child(4) {
    margin-left: -1.6rem; }
  footer .fa-ul {
    margin-left: 1.5rem; }

.btn {
  display: block;
  text-align: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative; }
  .btn:hover::after {
    opacity: 1; }
  .btn::after {
    content: "";
    background: linear-gradient(to bottom right, #ff93e1, #a16be0);
    border-radius: 50px;
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .btn__nav {
    width: 13rem; }
  .btn__confirm {
    width: 10rem;
    margin-top: 3rem;
    margin-bottom: 2rem; }

.like {
  display: block;
  position: relative;
  bottom: 2.3rem;
  right: 2rem;
  float: right;
  font-size: 1.8rem; }

.far.fa-heart::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 230ms ease-in-out;
  content: "\f004";
  font-weight: 900;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0); }
.far.fa-heart::before {
  transition: opacity 500ms; }
.far.fa-heart:hover::before, .far.fa-heart:active::before {
  opacity: 1; }
.far.fa-heart:hover::after, .far.fa-heart:active::after {
  transform: scale(1.06); }

.disable {
  opacity: 0; }

.operation i {
  color: #828282; }
.operation .active {
  background: #f2eafb; }
  .operation .active i {
    color: #9356dc; }

/*# sourceMappingURL=style.css.map */
